@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
h1 {text-align: center;

margin-top: auto;
position: relative;
font-family: 'Fredoka One', cursive;}

h2 {text-align: center;

margin-top: auto;
position: relative;
background-color: #FFC300;
background-size: cover;
color: #FFFFFF;
font-family: 'Fredoka One', cursive;

}
.icon {shape-image-threshold: 40px}

nav img {

  max-width: 200px;
align-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li { 
 display: flex;
 flex-direction: column;
 align-items: center;
}

nav li span {
  display: block;
}

li{

  background-color: #FFC300;

  margin: 1em;}

.link { color: #000000; }
.link:hover { color: #FFFFFF; }


img {
    width: 100%;
    height: auto;
    float:left;
    margin: auto;
}

}
footer {
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

video{align-items: center;}
.output {
    background: #eee;
    position: relative;
}
