@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

html, body {
 margin:0;
 padding:0;
}
h1 {text-align: center;


position: relative;
font-family: 'Fredoka One', cursive;}


h2 {text-align: center;
position:relative;
background-color: #FFC300;
background-size: cover;
color: #FFFFFF;
font-family: 'Fredoka One', cursive;

}
.icon {shape-image-threshold: 40px}

nav img {

  max-width: 200px;
align-content: center;

}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li { 
  list-style-type: none;
 display: inline;
 flex-direction: column;
 align-items: center;
padding-bottom: 1em}

nav li span {
  display: block;
}


p {text-align: center;


position: relative;
background-size: cover;
color: #FFFFFF;
font-family: 'Fredoka One', cursive;}


li{margin: 1em;}

.link { color: #000000; }
.link:hover { color: #FFFFFF; }
.link2:hover { opacity: 0}
.class1:hover{background-image: url(ruche2.svg);
     max-width: 200px;
    position: relative; background-repeat: no-repeat;
}

.class2:hover{background-image: url(trouverfleur2.svg);
     max-width: 200px;
     background-repeat: no-repeat;
}

.class3:hover{background-image: url(fleursfleurs2.svg);
     max-width: 200px;
    position: relative; background-repeat: no-repeat;
}
.class4:hover{background-image: url(retourruche2.svg);
     max-width: 200px;
    position: relative; background-repeat: no-repeat;
}

span{position: relative;}





footer {
    font-size: .8rem;

    bottom: 10px;
    right: 10px;
}

#video
{
position: relative;
z-index: 1;
text-align: center;
  font-size: 1em;
  justify-content: space-around;
  margin-top: auto;
  align-items: center;}
}

.bouton2 {max-width: 400px;}
